@import "tailwindcss";

@theme {
  --color-slate-250: #e2e8f0;
  --color-slate-750: #334155;
  --color-slate-850: #1e293b;
  --color-slate-855: #1e293b;
  --color-slate-955: #0f172a;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Vazirmatn", sans-serif;
}

* {
  font-family: "Vazirmatn", sans-serif;
}

.font-quran {
  font-family: "Amiri", "Scheherazade New", serif;
}

.font-arabic {
  font-family: "Amiri", "Scheherazade New", serif;
}

html[lang="en"] *:not(.font-quran):not(.font-arabic) {
  font-family: 'Inter', 'ui-sans-serif', 'system-ui', sans-serif !important;
}

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}

.animate-spin-slow {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
